[submodule "external_Lib/googletest"]
	path = external_Lib/googletest
	url = https://github.com/google/googletest.git
[submodule "external_Lib/jsoncpp"]
	path = external_Lib/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
